<h1>New slide</h1>

<%= render 'form' %>

<%= link_to 'Back', slideshow_slides_path %>
<% if @first_slide %>
	<p>
		<%= link_to "Start Slide Show", slideshow_slide_path(@slideshow, @first_slide) %>
	</p>
<% end %>