<h1 class="main_title">SlideFeed</h1>

A modular dashboard for displaying any kind of information...

<div class="create_new">
	<%= button_to "Start SlideFeed", new_slideshow_path, :method => :get %>
</div>
